Answer 1

In [ ]:
str1='Hello , how are you?'  #string
str1

'Hello , how are you?'

In [ ]:
list1=[1,78.00,'Lucknow', True,56] #list
list1

[1, 78.0, 'Lucknow', True, 56]

In [ ]:
f=37.0 #float
f

37.0

In [ ]:
tuple1=(5,'hello',76.6,29) #tuple
tuple1

(5, 'hello', 76.6, 29)

Answer 2

str 
str
List
int

Answer 3

/    (DIVISION)   this operator is used to divide two numbers. It gives a float number as output.
Example is given in below cell

In [ ]:
num1=56
num2=23
div=num1/num2
div

2.4347826086956523

%  (Modulus) This operator is used to give reaminder. It gives an integer as output.
Example is given below

In [ ]:

mod=num1 % num2
mod

10

// (FLOOR DIVISION)  It also divides two numbers. It returns an integer value. Example :

In [ ]:
floor=num1 // num2
floor

2

(**) this operator is used to calculate POWER of a number. It returns an integer value. Example:

In [ ]:
a=10
b=3
power= a**b
power

1000

Answer 4

In [ ]:
list1=[ 23, 14, 2896.67, False, 'My name is Shanza', True, 56.76,'I live in Lucknow', 467000, 'Hello'  ]
for item in list1:
    print(item)
    print(type(item))

23
<class 'int'>
14
<class 'int'>
2896.67
<class 'float'>
False
<class 'bool'>
My name is Shanza
<class 'str'>
True
<class 'bool'>
56.76
<class 'float'>
I live in Lucknow
<class 'str'>
467000
<class 'int'>
Hello
<class 'str'>

Answer 5

In [7]:
A=36
B=12
count=0
while B<=A:
    if A%B==0:
        print( f'{A} is purely divisible by {B}')
        count+=1
        B+=1
    else:
        print( f'{A} is not purely divisible by {B}')
        B+=1
print(count)

36 is purely divisible by 12
36 is not purely divisible by 13
36 is not purely divisible by 14
36 is not purely divisible by 15
36 is not purely divisible by 16
36 is not purely divisible by 17
36 is purely divisible by 18
36 is not purely divisible by 19
36 is not purely divisible by 20
36 is not purely divisible by 21
36 is not purely divisible by 22
36 is not purely divisible by 23
36 is not purely divisible by 24
36 is not purely divisible by 25
36 is not purely divisible by 26
36 is not purely divisible by 27
36 is not purely divisible by 28
36 is not purely divisible by 29
36 is not purely divisible by 30
36 is not purely divisible by 31
36 is not purely divisible by 32
36 is not purely divisible by 33
36 is not purely divisible by 34
36 is not purely divisible by 35
36 is purely divisible by 36
3

Answer 6

In [ ]:
l=[34,67,988,12,45,123,543,636,698,98,35,13,29,98,76,9,27,99,544,612,567,19,234,21,25]
for i in l:
    if i%3==0:
        print(i , ' is divisible by 3')
    else:
        print(i , ' is not divisible by 3')

34  is not divisible by 3
67  is not divisible by 3
988  is not divisible by 3
12  is divisible by 3
45  is divisible by 3
123  is divisible by 3
543  is divisible by 3
636  is divisible by 3
698  is not divisible by 3
98  is not divisible by 3
35  is not divisible by 3
13  is not divisible by 3
29  is not divisible by 3
98  is not divisible by 3
76  is not divisible by 3
9  is divisible by 3
27  is divisible by 3
99  is divisible by 3
544  is not divisible by 3
612  is divisible by 3
567  is divisible by 3
19  is not divisible by 3
234  is divisible by 3
21  is divisible by 3
25  is not divisible by 3

Answer 7

Mutable data types:
mutable data types in Python are those whose value can be changed in place after they have been created.
In mutable data types, we can modify the already existing values of the data types (such as lists, dictionaries, etc.). Or, we may add new values or remove the existing values from our data types. Basically, we may perform any operation with our data without having to create a new copy of our data type. Hence, the value assigned to any variable can be changed.
There are basically 3 mutable data types in Python:

List,
Dictionary,
Set.

In [ ]:
list=[45, 67, 29 ,54]
list[2]=567  # can be modified because lists are mutable
list

[45, 67, 567, 54]

Immutable data types:
The value assigned to a variable cannot be changed for the immutable data types. For example, String is an immutable data type in Python. We cannot change its content, otherwise, we may fall into a TypeError. Even if we assign any new content to immutable objects, then a new object is created (instead of the original being modified).
Example: Tuples, Strings.

In [ ]:
tuple1=(34, 678, 'HELLO','DELHI',768.67)
tuple1[2]='Hi'
tuple1
# in this error is shown because tuples are immutale

TypeError: 'tuple' object does not support item assignment