Consider following code to answer further questions:

In [92]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [93]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [94]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is label-based indexing in pandas, where you specify row and column labels.
iloc is integer-location based indexing, where you specify row and column indices.
Use loc when you want to access data based on labels, and iloc when you want to access data based on integer positions.
loc includes the last element of the range specified, while iloc excludes it.
Examples:
df.loc[1, 'column_name'] for label-based indexing.
df.iloc[1, 0] for integer-location based indexing.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [95]:
new_df=df.reindex([3,0,1,2])

In [96]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [97]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [98]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in both outputs. Let's analyze them:

new_df.loc[2] Output:

The output is Big Data with a duration of 6.
This is because loc uses the original labels, and after reindexing, the row with label 2 in the original DataFrame becomes the row with label 1 in the new_df.
new_df.iloc[2] Output:

The output is Data Engineer with a duration of 4.
This is because iloc uses the new positions based on the reindexing order, and after reindexing, the row at position 2 in the original DataFrame becomes the row at position 2 in the new_df.
In summary, loc and iloc give different results after reindexing because they use different ways of indexing (label-based vs. integer-location based), and the reindexing affects the order of rows in the DataFrame.

Consider the below code to answer further questions:

In [99]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [100]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.327294  0.373122  0.332666  0.928813  0.025564  0.674682
2  0.505615  0.822601  0.279621  0.761676  0.307069  0.263806
3  0.826712  0.929012  0.622946  0.035389  0.018120  0.827932
4  0.332064  0.246301  0.724412  0.726293  0.131340  0.497681
5  0.065929  0.111959  0.858215  0.673853  0.267268  0.780804
6  0.476707  0.605243  0.051035  0.053189  0.088623  0.220350

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [101]:
df1.mean()

column_1    0.422387
column_2    0.514706
column_3    0.478149
column_4    0.529869
column_5    0.139664
column_6    0.544209
dtype: float64

In [102]:
df1['column_2'].std()

0.32524998279128453

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [113]:
df1[1:2]['column_2']='0.127274'

C:\Users\shanza\AppData\Local\Temp\ipykernel_17876\1141017084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[1:2]['column_2']='0.127274'

In [114]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.327294  0.373122  0.332666  0.928813  0.025564  0.674682
2  0.505615  0.822601  0.279621  0.761676  0.307069  0.263806
3  0.826712  0.929012  0.622946  0.035389  0.018120  0.827932
4  0.332064  0.246301  0.724412  0.726293  0.131340  0.497681
5  0.065929  0.111959  0.858215  0.673853  0.267268  0.780804
6  0.476707  0.605243  0.051035  0.053189  0.088623  0.220350

In [115]:
df1['column_2'].mean()

0.5147064174073219

The error "unsupported operand type(s) for +: 'float' and 'str'" occurs when you attempt to perform a mathematical operation, such as addition or mean calculation, between a numeric value (float) and a string.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In brief, window functions in pandas allow you to perform computations over specific subsets of data, often useful for time-series analysis. The main types include:

Rolling Functions:

Operate on a rolling window of a specified size.
Expanding Functions:

Include all data points from the start up to the current point.
Exponential Moving Average (EMA):

Assign exponentially decreasing weights to older data points.
Window Aggregations:

Allow custom aggregation functions within the window.
Shifting Functions:

Shift values within the window, useful for creating time-shifted features.
These functions are valuable for analyzing and transforming time-series data or ordered datasets, enabling calculations of various statistics and metrics within specified windows.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [106]:
from datetime import datetime

In [107]:
current_datetime=datetime.now()

In [108]:
current_datetime.month

5

In [109]:
current_datetime.year

2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [120]:
date1=input('enter date in yyyy-mm-dd format')
date2=input('enter date in yyyy-mm-dd format')

In [121]:
date1=pd.to_datetime(date1)
date2=pd.to_datetime(date2)

In [122]:
date1

Timestamp('1991-12-11 00:00:00')

In [123]:
date2

Timestamp('1999-12-23 00:00:00')

In [124]:
date2-date1

Timedelta('2934 days 00:00:00')